/* .tripForm{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top:100px
}

.tripForm input{
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 60%;
} */