.questionForm{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top:100px;
    border-radius: 25px;
}

.questionForm input{
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 60%;
    border-radius: 25px;
}

.questionForm button {
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(255, 0, 140);
    font-size: large;
    font-weight: 500;
}