
.questionWrapper {
    background-color: aquamarine;
    width: 340px;
    height: 300px;
    padding: 10px;
    border-radius: 25px;
}

.link {
    text-decoration: none;
    color: rgb(4, 39, 75);
    display: flex;
}

.question {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
   } 